/* Welcome to Compass.
 * 抽奖活动
 */

@import "compass/css3";
@import "compass/css3/box";
@import "compass/utilities";
@import "compass/reset";

$color-1: #A10100;
$color-2: #000000;
$color-3: #333333;
$color-4: #666666;
$color-5: #999999;
$color-6: #cccccc;
$bg-color:#FAFAFA;

html,body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  color: $color-3;
  background-color: $bg-color;
  font-size:  62.5%;
  line-height: 1.5;
  margin: 0 auto;
  font-family: arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, Tahoma, Helvetica, STHeiti;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*{
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.relative{
  position: relative;
}
.gone{
  display: none;
}
.fixed-right{
  position: absolute!important;
  right: 15px!important;
  top: 5px!important;
}
.text-center{
  text-align: center;
}
.title-1{
  font-size: 2.4rem;
  color: $color-1;
}
.title-2{
  font-size: 1.6rem;
  color: $color-2;
}
.title-3{
  font-size: 1.3rem;
  color: $color-4;
}

.pd-10{
  padding: 10px;
}


.lottery-end{
  font-size: 2.4rem;
  color: $color-4;
  margin: 40px 0;
}
.detail{
  padding: 20px 10px;
  border-bottom: 1px dashed $color-6;
  h4{
    font-weight: bolder;
  }
  .content{
    white-space: pre-line;
    font-size: 1.4rem;
    line-height: 2;
    padding: 0 15px;
  }
}
.h-icon{
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  top: -2px;
  &.icon-msg-info{
    background: url("../images/activity/button_info.png") no-repeat center;
    background-size: 25px 25px;
  }
  &.icon-close{
    background: url("../images/activity/button_close.png") no-repeat center;
    background-size: 25px 25px;
  }
}

.award-section{
  padding: 20px 10px;
  min-height: 200px;
  text-align: center;
  .awd-type{
    position: relative;
    width: 200px;
    height: 35px;
    line-height: 35px;
    margin: 10px auto;
    border: 1px solid #efefef;
    @include border-radius(5px);
    padding: 1px;
    @include box-shadow(3px 5px 1px 0px #ccc);
    &>span{
      position: relative;
      display: inline-block;
      width: 50%;
      float: left;
      font-size: 1.4rem;
      cursor: pointer;
      z-index: 10;
      &.active{
        color: #C34206;
        font-weight: bolder;
        //background: url("../images/activity/button_choose.png") no-repeat center;
        //background-size: 100px 35px;
      }
      &.bg-slide{
        position: absolute;
        height: 100%;
        left: 0;
        z-index: 9;
        background: url("../images/activity/button_choose.png") no-repeat center;
        background-size: 100px 35px;
        @include transition(all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55));
        &.active{
          left: 50%;
        }
      }
    }
  }
  .awd-submit{
    margin-top: 20px;
    margin-bottom: 70px;
    width: 200px;
    height: 67px;
    background: url("../images/activity/button_play.png") no-repeat center;
    background-size: 200px 67px;
    border: none;
  }
}


//-----------------------------------------------------
// dialog.scss
//-----------------------------------------------------

$radiusBase : 5px;
$radiusSmall : 3px;
$barHeight : 46px;
$color6 : #666;
$color9 : #999;
$blue : #3DB5E6;
$colorBorder:                    #dbdbdb !default;
$colorOverlay:                   rgba(0,0,0,.6) !default; // 遮罩层颜色
//-----------------------------------------------------
$zIndexOverlay:                   4000 !default; // 默认高于header和footer部分


// fixed top or bottom or bottom & top
@mixin fixed($pos: 0) {
  position: fixed;
  left: 0;
  right: 0;
  @if $pos == bottom {
    bottom: 0;
  } @else if $pos == all {
    top: 0;
    bottom: 0;
  } @else {
    top: $pos;
  }
}


.overlay {
  display: block;
  background: $colorOverlay;
  @include fixed(all);
  z-index: $zIndexOverlay;
  .active &,
  &.active {
    display: block;
  }
  // 全透明
  &.overlay--transparent {
    background:rgba(0,0,0,0);
  }
}

.dialog-wrap{
  @include fixed(all);
  width: 100%;
  height: 100%;
  z-index: $zIndexOverlay;
  .dialog-table{
    @include fixed(all);
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    &>.dialog-cell{
      display: table-cell;
      vertical-align: middle;
    }
    z-index: $zIndexOverlay;
    @include transform(scale(0,0));
    @include transition(all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55));
  }
  &.active{
    .dialog-table{
      @include transform(scale(1,1));
    }
  }
}
.white{
  background-color: #fff;
}
.lighter-white{
  background-color: #F5F5F5;
}
.dialog{
  position: relative;
  width: 86%;
  margin: 0 auto;
  background-color: #E5E5E5;

  border-radius: 3px;
  overflow: hidden;
  z-index: $zIndexOverlay + 5;
  .dialog-bd{
    text-align: center;
  }
  .icon-close{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 15px;
  }
  .bing-go{
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    text-align: left;
    padding: 0 15px;
    font-size: 1.6rem;
    color: $color-2;
    button{
      border: none;
      float: right;
      margin-top: 5px;
      width: 60px;
      height: 30px;
      background: url("../images/activity/button_copy.png") no-repeat center;
      background-size: 60px 30px;
    }
  }
  .lottery-list{
    width: 100%;
    tr{
      height: 44px;
      line-height: 44px;
      font-size: 1.4rem;
      border-bottom: 1px dashed $color-5;
      &:last-child{
        border-bottom: none;
      }
    }
    td{
      text-align: center;
    }
  }
}

.page-loading{
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  position: fixed;
  display: table;
  z-index: 1000000;
  background-color: #47374c;
  .pl-content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    span{
      margin: 0 auto;
    }
  }
}

//加载动画
@include keyframes(flower-loader){
  0% {
    transform: rotate(0deg);
    box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  }
  50% {
    transform: rotate(1080deg);
    box-shadow: white 0 0 15px 0, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px;
  }
}
/* :not(:required) hides this rule from IE9 and below */
.flower-loader:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #e96;
  border-radius: 100%;
  @include box-shadow(white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px);
  @include animation(flower-loader 5s infinite ease-in-out);
  @include transform-origin(50%,50);
}
//-----------------------------------------------------
// toast.scss
//-----------------------------------------------------


// flex center
@mixin center-flex($direction: both) {
  display: flex;
  @if $direction == both {
    justify-content: center;
    align-items: center;
  }
  @else if $direction == x {
    justify-content: center;
  }
  @else if $direction == y {
    align-items: center;
  }
}

.toast-wrap{
  @include fixed($barHeight);
  bottom: 0;
  @include center-flex(both);
  z-index: $zIndexOverlay;
  display: none;
  flex-direction: column;
  &.active{
    display: flex;
  }
}
@include keyframes(loadingRotate){
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.toast{
  background: $colorOverlay;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  white-space: nowrap;
  z-index: $zIndexOverlay + 5;
  border-radius: 5px;
  position: relative;
  // display: none;

  .toast-icon{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.toast--loading{
  border-radius: 10px;

  .icon-loading {
    fill: #fff;
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 auto;
    @include animation(loadingRotate 1s linear infinite)
  }

  // 带关闭按钮loading
  &.has-close {
    padding: 15px;
    width: 100px;
    .icon-close {
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 20px;
    }
    .toast-text {
      margin-top: 10px;
    }
  }
}
