@charset "UTF-8";
@import "compass/css3";
@import "compass/css3/flexbox";
@import "compass/utilities";

.mbsc-fr-btn1{
  color: #999!important;
}
.mbsc-ios.mbsc-fr-bottom .mbsc-fr-popup {
  border-top: none!important;
}

.mbsc-ios.mbsc-fr-bottom .mbsc-fr-overlay, .mbsc-ios.mbsc-fr-top .mbsc-fr-overlay {
  background: rgba(0,0,0,.2)!important;
}

.mbsc-ios.mbsc-fr-top .mbsc-fr-btn-cont, .mbsc-ios.mbsc-fr-bottom .mbsc-fr-btn-cont {
  background: #fff;
}
.mbsc-ios.mbsc-sc.mbsc-fr-top .mbsc-fr-w, .mbsc-ios.mbsc-sc.mbsc-fr-bottom .mbsc-fr-w {
  background: #fff;
}
.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o {
  //@include background(fixed linear-gradient(top left, #E6F5FD,#15A6EF));
  @include background(linear-gradient(#fff,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 52%,#fff));
}
.mbsc-ios .mbsc-sc-whl-o, .mbsc-ios.mbsc-calendar .mbsc-sc-whl-o {
  @include background(linear-gradient(#fff,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 52%,#fff));
}
.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c {
  background: #fff;
}

.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-l, .mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-l {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
input.mbsc-control{
  padding: 0!important;
}
input.mbsc-control::-webkit-input-placeholder {
  color: #333;
  @include opacity(0.4);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}