@charset "UTF-8";
@import "variables";

//全局样式
//html{
//  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//  font-size:  62.5%;
//  margin: 0 auto;
//  color: $color3;
//  -ms-text-size-adjust: 100%;
//  -webkit-text-size-adjust: 100%;
//}
//html,body{
//  background-color: $bgColor;
//}
//* {
//  -webkit-appearance:none;
//  -webkit-tap-highlight-color:transparent;
//}
.gone{
  display: none!important;
}
.v-hidden{
  visibility: hidden;
}
.o-hidden{
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}
.clear-fix{
  *zoom:1;
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
}
.border-none{
  border: none!important;
}
//颜色
//$colorMap : ( white : thite, red : $red, blue : $blue, link : $colorLink, hint : $color6 );
$colorMap : (-yellow #ffde00 ) ( -white  $white ) (-red   $red) (-pink   $pink) (-blue  $blue) (-dark-blue  $darkBlue)  (-hint $textHint ) (-title $title ) (-sub-title $subTitle ) (-orange $orange ) (-green $green) (-light-green $lightGreen);
@each $colorKey, $colorValue in $colorMap {
  .color#{$colorKey}{
    color: $colorValue!important;
  }
}

$bgColorMap : ( -white  $white ) (-red   $red) (-blue  $blue) (-dark-blue  $darkBlue) (-orange $orange) (-green $green) (-light-green $lightGreen) (-grey $bgGrey);
@each $bgColorKey, $bgColorValue in $bgColorMap {
  .bg#{$bgColorKey}{
    background-color: $bgColorValue!important;
  }
}

//align
$textAlignMap : left center right;
@each $textAlignItem in $textAlignMap {
  .text-#{$textAlignItem}{
    text-align: $textAlignItem;
  }
}

$positionMap : absolute relative fixed;
@each $positionItem in $positionMap {
  .p-#{$positionItem}{
    position: $positionItem;
  }
}

$displayMap : block inline-block;
@each $displayItem in $displayMap {
  .d-#{$displayItem}{
    position: $displayItem;
  }
}

//font
$fontMap : ( 12  12 ) ( 13  13 ) ( 14  14 )  ( 16  16 )  ( 18  18 ) ( 20  20 ) ( 24  24 ) ( 30  30 ) ( 36  36 ) ;
@each $fontKey,$fontValue in $fontMap {
  .font-#{$fontKey}{
    font-size: $fontValue*1px!important;
  }
}

//border
$bordersMap : top right bottom left;
@each $borderItem in $bordersMap {
  .border-#{$borderItem}{
    border-#{$borderItem}: 1px solid $borderColor;
  }
}

//margin padding
@for $i from 1 through 20{
  $key :  $i * 5;
  $value :  $i * 5px;
  .p-#{$key}{
    padding: $value;
  }
  .pt-#{$key}{
    padding-top: $value;
  }
  .pl-#{$key}{
    padding-left: $value;
  }
  .pr-#{$key}{
    padding-right: $value;
  }
  .pb-#{$key}{
    padding-bottom: $value;
  }
  .m-#{$key}{
    margin: $value;
  }
  .mt-#{$key}{
    margin-top: $value;
  }
  .ml-#{$key}{
    margin-left: $value;
  }
  .mr-#{$key}{
    margin-right: $value;
  }
  .mb-#{$key}{
    margin-bottom: $value;
  }
}

//报错页面
.error-section{
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 0;
  top: 50%;
  @include translateY(-50%);
  .es-title{
    font-size: 18px;
    margin: 6px 0;
  }
  .es-content{
    color: $subTitle;
    margin: 0 auto;
    font-size: 14px;
    &:before{
      content: '';
      display: block;
      width: 103px;
      height: 74px;
      background: url("../../images/icons/error@2x.png") no-repeat center;
      @include background-size(100%);
      margin: 0 auto 15px;
    }
  }
}

