@charset "UTF-8";

//主页样式
.bc-header{
  height: 85px;
  padding: 15px 0;
  .bch-logo{
    width: 85px;
  }
  .bch-intro{
    font-size: 14px;
    color: $title;
    margin-top: 2px;
    &>p{
      margin: 0;
      height: 26px;
      line-height: 26px;
    }
  }
  .bch-login{
    height: 52px;
    line-height: 52px;
    &,&>a{
      font-size: 14px;
      color: $title;
    }
  }
}