@charset "UTF-8";

#js_map_marker_info{
  position: fixed;
  top: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  color: $color3;
  background-color: rgba(255,255,255,0.8);
  @include border-radius($radiusSmall);
  padding: 7px 10px;
  border: 1px solid $borderColor;
  &:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 34px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid white;
  }
}

.ap-tag{
  display: inline-block;
  border: 1px solid $color9;
  color: $color9;
  padding: 0 5px;
  margin: 0 5px;
  line-height: 1.5;
  text-indent: 0;
  cursor: pointer;
  border-radius: $radiusSmall;
  &.blue{
    border: 1px solid $blue;
    color: $blue;
  }
  &.orange{
    border: 1px solid $orange;
    color: $orange;
  }
  &.active{
    background-color: #CEEAFD;
  }
}

//评价标签
.ap-tag-list{
  text-align: center;
  &>.ap-tag{
    margin: 5px 3px;
    padding: 2px 5px;
  }
}

.calc-loading{
  background-color: $bgColor;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  display: block;
  top: 0;
  bottom: 0;
  z-index: 10;
  &.active{
    display: none;
  }
  &>img{
    width: 50px;
    margin-top: 20px;
  }
}

.lf-fixed-btn{
  color: $colorLink;
  text-align: center;
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
  &.bottom-20{
    bottom: 30px;
  }
}

//行程订单 列表
.ap-order-list{
  margin: 10px 0;
  background-color: white;
  border-top: $borderStyle;
  border-bottom: $borderStyle;
  &>li{
    padding: 10px;
    border-bottom: $borderStyle;
    cursor: pointer;
    &:last-child{
      border-bottom: none;
    }
    p{
      &.title{
        font-size: 1.6rem;
        text-indent: 0.5rem;
        color: $color3;
      }
      font-size: 1.6rem;
      line-height: 30px;
      color: $color6;
      svg{
        width: 25px;
        height: 25px;
        vertical-align: middle;
        &.green{
          fill: darken($green, 10%);
        }
        &.red{
          fill: lighten($red, 10%);
        }
      }
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .label-info{
        font-size: 1.8rem;
        color: $color9;
    }
    .label-primary{
      font-size: 1.8rem;
      color: $blue;
    }
    .label-danger{
      font-size: 1.8rem;
      color: $red;
    }
  }
  &.search{
    border-top: none;
    padding: 0 5px;
    margin-top: 0;
    &>li{
      padding: 5px 10px;
      .title{
        text-indent: 0;
      }
    }
  }
}
.receipt-footer{
  color: $blue;
  font-size: 1.6rem;
  background-color: white;
}

//支付页面
.pay-section{
  p{
    padding: 3px 0;
    line-height: 1.6;
    color: $color6;
    .user-mark{
      padding: 1px 5px;
      margin-left: 5px;
      border-radius: 3px;
      color: white;
      svg{
        vertical-align: middle;
        fill: white;
      }
      background-color: $orange;
    }
    .icon-arrow-right{
      margin-top: -5px;
    }
    &>svg{
      vertical-align: middle;
      &.fixedWH{
        width: 25px;
        height: 25px;
      }
    }
  }
  .remark-desc{
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid $borderColor;
    border-radius: $radiusSmall;
  }
  .remark-star{
    text-align: center;
  }
}

//评分
$starColor : transparent;
$starActiveColor : $orange;
.ap-star{
  display: inline-block;
  width: 0;
  height: 0;
  margin: 25px 0;
  position: relative;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom-width: 17.5px;
  border-bottom-style: solid;
  border-bottom-color: $borderColor;
  @include transform(rotate(35deg) scale(0.8));
  &:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom-width: 20px;
    border-bottom-style: solid;
    border-bottom-color: $borderColor;
    position: absolute;
    top: -11px;
    left: -16px;
    display: block;
    @include transform(rotate(-35deg));

  }
  &:after{
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 0.7px;
    left: -26px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom-width: 17.5px;
    border-bottom-style: solid;
    border-bottom-color: $borderColor;
    @include transform(rotate(-70deg));
  }
  &.active{
    &,&:before,&:after{
      border-bottom-color: $starActiveColor;;
    }
  }
}


//分割线路
.gap-line{
  position: relative;
  font-size: 1.4rem;
  padding: 10px 0;
  color: $color9;
  text-align: center;
  @include display-box;
  &:before,&:after{
    content: '';
    @include box-flex(1);
    display: block;
    height: 1px;
    border-top: 1px solid $borderColor;
    position: relative;
    top: 10px;
    @include transform(scaleY(0.5));
  }
  &:before{
    margin-right: 10px;
  }
  &:after{
    margin-left: 10px;
  }
}

//优惠券列表样式
.ap-coupon-list{
  li{
    cursor: pointer;
  }
  .apc-coupon{
    position: relative;
    background-color: white;
    margin: 10px 0;
    padding: 10px 0;
    color: lighten($color9,10%);
    border: 1px solid $borderColor;
    @include border-radius($radiusSmall);
    &:before,&:after{
      content: '';
      width: 8px;
      height: 100%;
      background: url("../../images/icons/grey_bar.png") repeat-y center;
      background-size: 100% 100%;
    }
    &:before{
      position: absolute;
      top: 0;
      left: -1px;
      @include border-radius($radiusSmall 0 0 $radiusSmall);
    }
    &:after{
      position: absolute;
      top: 0;
      right: -2px;
      width: 6px;
      @include border-radius(0 $radiusSmall $radiusSmall 0);
    }
    .apc-value{
      position: relative;
      width: 100px;
      font-size: 5rem;
      font-weight: bold;
      text-align: center;
      border-right: 1px dashed $borderColor;
      .apc-suffix{
        position: absolute;
        bottom: 0;
        right: 6px;
        font-weight: normal;
        font-size: 1.6rem;
      }
    }
    .apc-info{
      color: $color9;
      line-height: 1.8;
      padding-left: 15px;
      &>p{
      }
      .apc-type{
        font-size: 1.8rem;
      }
    }
    .coupon-input{
      position: absolute;
      top: 15px;
      right: 10px;
    }

    &.blue{
      color: lighten($blue,10%);
      border: 1px solid lighten($blue,20%);
      &:before,&:after{
        content: '';
        background: url("../../images/icons/blue_bar.png") repeat-y center;
        background-size: 100% 100%;
      }
      .apc-info{
        color: $blue;
      }
    }
    &.yellow{
      color: lighten($orange,10%);
      border: 1px solid lighten($orange,20%);
      &:before,&:after{
        content: '';
        background: url("../../images/icons/yellow_bar.png") repeat-y center;
        background-size: 100% 100%;
      }
      .apc-info{
        color: $orange;
      }
    }
  }
}

//搜索页面
.ap-search-section{
  margin-top: 10px;
  background-color: white;
  border-top: $borderStyle;
  border-bottom: $borderStyle;
  input,select{
    display: block;
    font-size: 1.4rem;
    color: $colorText;
    padding: 15px 0;
    border: 0;
  }
}

//地图
#map-container{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.fix-map-up{
  position: relative;
  z-index: 10;
}


//分享相关
.ar-share{
  text-align: center;
  margin: 10px 10px 0;
  .arh-title{
    margin: 30px auto 10px;
    width: 298px;
    display: block;
  }
  .arh-sub-title{
    margin: 20px  auto 10px;
    width: 267px;
    display: block;
  }
  .arh-bonus{
    margin: 0 auto 20px;
    width: 196px;
    display: block;
  }
  .arh-intro{
    position: relative;
    text-align: left;
    padding: 10px;
    border: thin solid #4F79A4;
    border-radius: $radiusBase;
    &>p{
      padding: 5px 0;
    }
    &:before{
      content: attr(data-title);
      display: inline-block;
      position: absolute;
      top: -18px;
      left: 20px;
      font-size: 2rem;
      background-color: $shareBg;
      padding: 0 15px;
    }
  }
  .arh-btn{
    font-size: 2rem;
    width: 70%;
    margin: 20px 0 0;
    color: $color3;
    background-color: $yellow;
  }
}
.arh-cloud{
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}
.ar-invite-section{
  text-align: center;
  .ari-header{
    background-color: $shareBg;
    &>img{
      margin: 0 auto;
    }
    .ari-title{
      width: 80%;
      margin-top: 70px;
      margin-bottom: 20px;
    }
    .ari-sub-title{
      width: 75%;
      margin-bottom: 20px;
    }
    .ari-cloud{
      width: 100%;
    }
  }
  .ari-content{
    position: relative;
    margin: 25% auto 0;
    width: 285px;
    height: 163px;
    background: url("../../images/share/envelope-b.png") no-repeat center top;
    background-size: 100%;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: -50px;
      margin: 0 auto;
      width: 85%;
      height: 137px;
      background: url("../../images/share/paper.png") no-repeat center;
      background-size: 100%;
    }
    &:after{
      content: '';
      position: absolute;
      top: 35px;
      width: 100%;
      height: 163px;
      display: block;
      background: url("../../images/share/envelope-f.png") no-repeat center;
      background-size: 100% 100%;
    }
  }
  .ari-info{
    position: absolute;
    z-index: 3;
    width: 72%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -20px;
    font-size: 1.8rem;
  }

  .ari-input{
    position: relative;
    z-index: 3;
    width: 85%;
    top: 80px;
    margin: 0 auto;
    &>input{
      display: block;
      font-size: 1.6rem;
      color: $colorText;
      padding: 13px 0 13px 13px;
      width: 100%;
      border: 0;
      @include border-radius($radiusBase);
      box-shadow: inset 0 2px 8px 2px #ccc;
    }
    .ari-btn{
      font-size: 2rem;
      width: 100%;
      margin: 10px 0 0;
      color: $color3;
      background-color: $yellow;
      @include border-radius($radiusBase);
    }
  }

}
.cut-ellipsis-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.loading-more{
  height: 40px;
  line-height: 40px;
  &:before{
    content: '加载更多';
  }
  &.loading:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../../images/icons/three-dots.svg") no-repeat center;
    vertical-align: middle;
    background-size: 30px;
  }
}

.empty-list{
  line-height: 50px;
  text-align: center;
}

//弹出框
.ar-coupon-modal{
  z-index: $zIndexHeader+100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  @include transform(translate(0%,100%));
  @include transition(transform .3s $timingFunction);
  &.active{
    @include transform(translate(0%,0%));
  }
  .arcm-section{
    overflow: auto;
    padding-bottom: 80px;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
}

//百度地图样式
.custom-map-infobox{
  background-color: rgba(255, 255, 255, 0.8);
  color: $colorText;
  width: 220px;
  padding: 5px 10px;
  &:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid rgba(255, 255, 255, 0.8);
  }
  &>img:first-child{
    display: none;
  }
}

.BMap_Marker.animation{
  @include transition(all cubic-bezier(0.165,.84,.44,1) 1s);
  &.disabled{
    @include transition(all cubic-bezier(0.165,.84,.44,1) 0s);
  }
}

.header .header-icon:hover, .header .header-btn:hover{
  background-color: $blue;
}
.btn-primary{
  &.disabled{
    background-color: $color9;
  }
}