@charset "UTF-8";
//-----------------------------------------------------
// variables scss
//-----------------------------------------------------
//basic color
$color-1 : #ffffff;
$color-2 : #fafafa;
$color-3 : #e0e0e0;
$color-4 : #333333;
$color-5 : #666666;
$color-6 : #999999;
$color-7 : #fa427e;
$color-8 : #f54041;
$color-9 : #ff9703;
$color-10 : #1fae10;
$color-11 : #a9c74e;
$color-12 : #091e58;
$color-13 : #3e94fc;

//色值
$borderColor : $color-3;
$bgGrey : $color-2;
$white : $color-1;
$red : $color-8;
$pink : $color-7;
$orange : $color-9;
$green : $color-10;
$lightGreen : $color-11;
$blue : $color-13;
$darkBlue : $color-12;

//文字相关
$title : $color-4;
$subTitle : $color-5;
$textHint : $color-6;