@charset "UTF-8";
//-----------------------------------------------------
// variables scss
//-----------------------------------------------------
//basic color
$text-1 : #333333;
$text-2 : #666666;
$text-3 : #999999;
$text-4 : #cccccc;
$text-5 : #eeeeee;
$text-6 : #f8f8f8;
$text-7 : #ffffff;

$color-1 : #fa427e;
$color-2 : #FF7C7C;
$color-3 : #ffb258 ;
$color-4 : #24ca88;
$color-5 : #50D2C2;
$color-6 : #091e58;
$color-7 : #8c88ff;

$bg-1: #caf1ed;
$bg-2: #ffe8cd;
$bg-3:  #e0dfff ;

//色值
$borderColor : $text-4;
$bgGrey : $text-6;
$white : $text-7;
$red : $color-2;
$pink : $color-1;
$orange : $color-3;
$green : $color-4;
$lightGreen : $color-5;
$blue : $color-6;
$purple : $color-7;

//文字相关
$title : $text-1;
$subTitle : $text-2;
$textHint : $text-4;
