.gone {
  display: none !important;
}

.v-hidden {
  visibility: hidden;
}

.o-hidden {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}

.v-align-middle {
  vertical-align: middle;
}

.clear-fix {
  *zoom: 1;
}
.clear-fix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.wd-100 {
  width: 100%;
}

.border-none {
  border: none !important;
}

.color-yellow {
  color: #ffde00 !important;
}

.color-white {
  color: #ffffff !important;
}

.color-red {
  color: #FF7C7C !important;
}

.color-pink {
  color: #fa427e !important;
}

.color-blue {
  color: #091e58 !important;
}

.color-purple {
  color: #8c88ff !important;
}

.color-hint {
  color: #cccccc !important;
}

.color-title {
  color: #333333 !important;
}

.color-sub-title {
  color: #666666 !important;
}

.color-two-title {
  color: #999999 !important;
}

.color-orange {
  color: #ffb258 !important;
}

.color-green {
  color: #24ca88 !important;
}

.color-light-green {
  color: #50D2C2 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-red {
  background-color: #FF7C7C !important;
}

.bg-blue {
  background-color: #091e58 !important;
}

.bg-purple {
  background-color: #8c88ff !important;
}

.bg-orange {
  background-color: #ffb258 !important;
}

.bg-green {
  background-color: #24ca88 !important;
}

.bg-light-green {
  background-color: #50D2C2 !important;
}

.bg-grey {
  background-color: #f8f8f8 !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-table {
  display: table;
}

.d-table-cell {
  display: table-cell;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-36 {
  font-size: 36px !important;
}

.border-top {
  border-top: 1px solid #cccccc;
}

.border-right {
  border-right: 1px solid #cccccc;
}

.border-bottom {
  border-bottom: 1px solid #cccccc;
}

.border-left {
  border-left: 1px solid #cccccc;
}

.p-0 {
  padding: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.m-0 {
  margin: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.p-5 {
  padding: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.m-5 {
  margin: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.p-15 {
  padding: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.m-15 {
  margin: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-25 {
  padding: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.m-25 {
  margin: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.p-30 {
  padding: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.m-30 {
  margin: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.p-35 {
  padding: 35px;
}

.pt-35 {
  padding-top: 35px;
}

.pl-35 {
  padding-left: 35px;
}

.pr-35 {
  padding-right: 35px;
}

.pb-35 {
  padding-bottom: 35px;
}

.m-35 {
  margin: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.p-40 {
  padding: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.m-40 {
  margin: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.p-45 {
  padding: 45px;
}

.pt-45 {
  padding-top: 45px;
}

.pl-45 {
  padding-left: 45px;
}

.pr-45 {
  padding-right: 45px;
}

.pb-45 {
  padding-bottom: 45px;
}

.m-45 {
  margin: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.p-50 {
  padding: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.m-50 {
  margin: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.p-55 {
  padding: 55px;
}

.pt-55 {
  padding-top: 55px;
}

.pl-55 {
  padding-left: 55px;
}

.pr-55 {
  padding-right: 55px;
}

.pb-55 {
  padding-bottom: 55px;
}

.m-55 {
  margin: 55px;
}

.mt-55 {
  margin-top: 55px;
}

.ml-55 {
  margin-left: 55px;
}

.mr-55 {
  margin-right: 55px;
}

.mb-55 {
  margin-bottom: 55px;
}

.p-60 {
  padding: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.m-60 {
  margin: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.p-65 {
  padding: 65px;
}

.pt-65 {
  padding-top: 65px;
}

.pl-65 {
  padding-left: 65px;
}

.pr-65 {
  padding-right: 65px;
}

.pb-65 {
  padding-bottom: 65px;
}

.m-65 {
  margin: 65px;
}

.mt-65 {
  margin-top: 65px;
}

.ml-65 {
  margin-left: 65px;
}

.mr-65 {
  margin-right: 65px;
}

.mb-65 {
  margin-bottom: 65px;
}

.p-70 {
  padding: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pl-70 {
  padding-left: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.m-70 {
  margin: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.p-75 {
  padding: 75px;
}

.pt-75 {
  padding-top: 75px;
}

.pl-75 {
  padding-left: 75px;
}

.pr-75 {
  padding-right: 75px;
}

.pb-75 {
  padding-bottom: 75px;
}

.m-75 {
  margin: 75px;
}

.mt-75 {
  margin-top: 75px;
}

.ml-75 {
  margin-left: 75px;
}

.mr-75 {
  margin-right: 75px;
}

.mb-75 {
  margin-bottom: 75px;
}

.p-80 {
  padding: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.m-80 {
  margin: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.p-85 {
  padding: 85px;
}

.pt-85 {
  padding-top: 85px;
}

.pl-85 {
  padding-left: 85px;
}

.pr-85 {
  padding-right: 85px;
}

.pb-85 {
  padding-bottom: 85px;
}

.m-85 {
  margin: 85px;
}

.mt-85 {
  margin-top: 85px;
}

.ml-85 {
  margin-left: 85px;
}

.mr-85 {
  margin-right: 85px;
}

.mb-85 {
  margin-bottom: 85px;
}

.p-90 {
  padding: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.m-90 {
  margin: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.p-95 {
  padding: 95px;
}

.pt-95 {
  padding-top: 95px;
}

.pl-95 {
  padding-left: 95px;
}

.pr-95 {
  padding-right: 95px;
}

.pb-95 {
  padding-bottom: 95px;
}

.m-95 {
  margin: 95px;
}

.mt-95 {
  margin-top: 95px;
}

.ml-95 {
  margin-left: 95px;
}

.mr-95 {
  margin-right: 95px;
}

.mb-95 {
  margin-bottom: 95px;
}

.p-100 {
  padding: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.m-100 {
  margin: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.error-section {
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.error-section .es-title {
  font-size: 18px;
  margin: 6px 0;
}
.error-section .es-content {
  color: #666666;
  margin: 0 auto;
  font-size: 14px;
}
.error-section .es-content:before {
  content: '';
  display: block;
  width: 103px;
  height: 74px;
  background: url("../../images/icons/error@2x.png") no-repeat center;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin: 0 auto 15px;
}

.text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box-shadow-1 {
  -moz-box-shadow: 0 0 30px -10px #cccccc;
  -webkit-box-shadow: 0 0 30px -10px #cccccc;
  box-shadow: 0 0 30px -10px #cccccc;
}

.box-shadow-2 {
  -moz-box-shadow: 0 0 30px -10px #caf1ed;
  -webkit-box-shadow: 0 0 30px -10px #caf1ed;
  box-shadow: 0 0 30px -10px #caf1ed;
}

.box-shadow-3 {
  -moz-box-shadow: 0 0 20px -9px #279589;
  -webkit-box-shadow: 0 0 20px -9px #279589;
  box-shadow: 0 0 20px -9px #279589;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 */
.b-icon-login-user {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: url("../images/icons/person_active.png") no-repeat center;
  background-size: 22px 22px;
}

.b-icon-not-login-user {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: url("../images/icons/person.png") no-repeat center;
  background-size: 22px 22px;
}

.b-icon-search {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: url("../images/icons/search.png") no-repeat center;
  background-size: 32px 32px;
}

.b-icon-down {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url("../images/icons/arrow_down.png") no-repeat center;
  background-size: 16px 16px;
}

.b-icon-tip {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: url("../images/icons/tips.png") no-repeat center;
  background-size: 18px 18px;
}

.bc-header .nav.navbar-nav.menu a {
  font-size: 16px;
}
.bc-header .navbar-brand {
  padding: 10px 15px;
  margin-right: 40px;
}
.bc-header .navbar-brand .bch-logo {
  height: 50px;
}
.bc-header .bch-login {
  padding: 24px 15px;
}
.bc-header .bch-login > a {
  color: #666666 !important;
  padding-right: 5px;
  padding-left: 5px;
  display: inline;
}
.bc-header .bch-login > a:hover {
  color: #333333 !important;
  background-color: transparent !important;
}

.bc-footer {
  background-color: #333333;
  text-align: center;
  padding: 25px 0;
}
.bc-footer, .bc-footer a {
  color: #ffffff;
}
.bc-footer.white {
  background-color: transparent;
}
.bc-footer.white, .bc-footer.white a {
  color: #999999;
}

.bc-banner {
  position: relative;
  padding: 0;
}
.bc-banner .pic {
  width: 100%;
  min-height: 200px;
}
.bc-banner .bcb-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}
.bc-banner .bcb-content .input-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  color: #ffffff;
}
.bc-banner .bcb-content .bcb-search {
  opacity: 0.7;
  border: 2px solid #ffffff;
}
.bc-banner .bcb-content .bcb-word {
  font-size: 12px;
  padding: 10px;
  text-align: left;
  color: #eeeeee;
}
.bc-banner .bcb-content .bcb-word > a {
  display: inline-block;
  padding: 0 8px;
  color: #eeeeee;
  cursor: pointer;
  position: relative;
}
.bc-banner .bcb-content .bcb-word > a:after {
  content: '';
  height: 70%;
  width: 1px;
  display: block;
  position: absolute;
  right: 0;
  top: 15%;
  background-color: #eeeeee;
}
.bc-banner .bcb-content .bcb-word > a:last-child:after {
  display: none;
}

.bc-section-title {
  font-size: 20px;
  color: #cccccc;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  position: relative;
  background-color: #ffffff;
}
.bc-section-title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #caf1ed;
}
.bc-section-title.orange:before {
  background-color: #ffe8cd;
}
.bc-section-title.purple:before {
  background-color: #e0dfff;
}
.bc-section-title.color-with-body {
  color: #caf1ed;
}

.bg-grey-bar {
  position: absolute;
  left: 0;
  top: -1%;
  height: 102%;
  width: 20px;
  background-color: #f8f8f8;
}

.bc-side-list {
  text-align: center;
}
.bc-side-list .bcs-item {
  padding: 0 20px;
}
.bc-side-list .bcs-item > img, .bc-side-list .bcs-item a > img {
  width: 100%;
}
.bc-side-list .bcs-item > p, .bc-side-list .bcs-item a > p {
  padding: 16px;
  font-size: 16px;
  color: #666666;
}

.bc-select-section {
  color: #666666;
  text-align: right;
}

.bc-stat-section {
  text-align: center;
}
.bc-stat-section .bcs-item {
  padding: 0;
}
.bc-stat-section .bcs-item .title {
  color: #333333;
  font-size: 20px;
  margin-top: 20px;
}
.bc-stat-section .bcs-item .total {
  font-size: 50px;
  margin: 20px 0;
}
.bc-stat-section .bcs-item .hint {
  font-size: 16px;
}
.bc-stat-section .bcs-item .hint .bcs-block {
  display: block;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: #24ca88;
}
.bc-stat-section .bcs-progress-section {
  margin-top: 20px;
  margin-bottom: 30px;
}
.bc-stat-section .bcs-progress-section .bcs-progress-bar {
  height: 16px;
  background-color: #24ca88;
}

.bc-list-item {
  padding-top: 10px;
  font-size: 14px;
  color: #333333;
}
.bc-list-item > div, .bc-list-item p {
  padding-left: 0;
  padding-right: 0;
}
.bc-list-item .bcl-right {
  text-align: right;
  color: #999999;
  font-size: 12px;
}
.bc-list-item .bcl-img > img {
  margin-top: 20px;
  width: 60px;
}

.vie-num {
  font-size: 16px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  margin-bottom: 5px;
  display: inline-block;
}

.vie-text {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  line-height: 36px;
  width: 36px;
  color: #24ca88;
  text-align: center;
}

.nav-pills > li > a {
  color: #999999;
  padding: 5px 20px;
}

.bc-form-section .control-label {
  font-weight: normal;
  color: #333333;
}

.bc-form-title-section {
  margin: 20px 0 40px;
  border-bottom: 2px solid #cccccc;
}
.bc-form-title-section .title {
  position: relative;
  top: 2px;
  font-size: 18px;
  padding: 10px 5px;
  display: inline-block;
  color: #24ca88;
  border-bottom: 2px solid #24ca88;
}

.bc-keyword-section {
  padding: 10px;
  min-height: 100px;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.bc-keyword-section .bck-item {
  padding: 2px 5px;
  margin: 4px;
  display: inline-block;
  color: #cccccc;
  cursor: pointer;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.bc-keyword-section .bck-item.active {
  color: #24ca88;
  border: 1px solid #24ca88;
}

.bg-login {
  width: 100%;
  height: 100%;
  background: url("../../images/bg/gb.png") no-repeat center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../images/bg/gb.png,sizingMethod=scale);
}
