/* line 36, ../bower_components/sheral/sandal/core/_mixin.scss */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}
/* line 41, ../bower_components/sheral/sandal/core/_mixin.scss */
.clearfix::after {
  clear: both;
}

/* line 79, ../bower_components/sheral/sandal/core/_mixin.scss */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 177, ../bower_components/sheral/sandal/core/_mixin.scss */
.justify {
  display: flex;
  justify-content: space-between;
}

/* line 618, ../bower_components/sheral/sandal/core/_mixin.scss */
.btn, .btn-outline, .btn-primary, .btn-stress {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  box-sizing: border-box;
  user-select: none;
  padding: 0 1em;
  white-space: nowrap;
}

/* line 14, ../bower_components/sheral/sandal/core/_reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

/* line 22, ../bower_components/sheral/sandal/core/_reset.scss */
body {
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  min-height: 100%;
}

/* line 38, ../bower_components/sheral/sandal/core/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 55, ../bower_components/sheral/sandal/core/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/* line 64, ../bower_components/sheral/sandal/core/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 70, ../bower_components/sheral/sandal/core/_reset.scss */
progress {
  vertical-align: baseline;
}

/* line 76, ../bower_components/sheral/sandal/core/_reset.scss */
[hidden],
template {
  display: none;
}

/* line 87, ../bower_components/sheral/sandal/core/_reset.scss */
a {
  background: transparent;
  text-decoration: none;
  color: #08c;
}
/* line 92, ../bower_components/sheral/sandal/core/_reset.scss */
a:active {
  outline: 0;
}

/* line 101, ../bower_components/sheral/sandal/core/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 106, ../bower_components/sheral/sandal/core/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 112, ../bower_components/sheral/sandal/core/_reset.scss */
dfn {
  font-style: italic;
}

/* line 117, ../bower_components/sheral/sandal/core/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 123, ../bower_components/sheral/sandal/core/_reset.scss */
small {
  font-size: 80%;
}

/* line 128, ../bower_components/sheral/sandal/core/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 136, ../bower_components/sheral/sandal/core/_reset.scss */
sup {
  top: -0.5em;
}

/* line 140, ../bower_components/sheral/sandal/core/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 148, ../bower_components/sheral/sandal/core/_reset.scss */
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

/* line 155, ../bower_components/sheral/sandal/core/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 164, ../bower_components/sheral/sandal/core/_reset.scss */
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 172, ../bower_components/sheral/sandal/core/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 190, ../bower_components/sheral/sandal/core/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  vertical-align: middle;
}

/* line 204, ../bower_components/sheral/sandal/core/_reset.scss */
button,
input,
select {
  overflow: visible;
}

/* line 214, ../bower_components/sheral/sandal/core/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 224, ../bower_components/sheral/sandal/core/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 233, ../bower_components/sheral/sandal/core/_reset.scss */
[disabled] {
  cursor: default;
}

/* line 238, ../bower_components/sheral/sandal/core/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 246, ../bower_components/sheral/sandal/core/_reset.scss */
input {
  line-height: normal;
}

/* line 255, ../bower_components/sheral/sandal/core/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 264, ../bower_components/sheral/sandal/core/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 272, ../bower_components/sheral/sandal/core/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

/* line 280, ../bower_components/sheral/sandal/core/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 286, ../bower_components/sheral/sandal/core/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 294, ../bower_components/sheral/sandal/core/_reset.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 300, ../bower_components/sheral/sandal/core/_reset.scss */
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/* line 308, ../bower_components/sheral/sandal/core/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 313, ../bower_components/sheral/sandal/core/_reset.scss */
input,
select,
textarea,
button {
  outline: 0;
}

/* line 321, ../bower_components/sheral/sandal/core/_reset.scss */
textarea,
input {
  -webkit-user-modify: read-write-plaintext-only;
}

/* line 327, ../bower_components/sheral/sandal/core/_reset.scss */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* line 335, ../bower_components/sheral/sandal/core/_reset.scss */
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

/* line 341, ../bower_components/sheral/sandal/core/_reset.scss */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}

/* line 347, ../bower_components/sheral/sandal/core/_reset.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

/* line 353, ../bower_components/sheral/sandal/core/_reset.scss */
.placeholder {
  color: #999;
}

/* line 360, ../bower_components/sheral/sandal/core/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 365, ../bower_components/sheral/sandal/core/_reset.scss */
td,
th {
  padding: 0;
}

/* line 373, ../bower_components/sheral/sandal/core/_reset.scss */
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

/* line 378, ../bower_components/sheral/sandal/core/_reset.scss */
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

/* line 383, ../bower_components/sheral/sandal/core/_reset.scss */
ul, ol {
  list-style: none outside none;
}

/* line 388, ../bower_components/sheral/sandal/core/_reset.scss */
h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

/* line 393, ../bower_components/sheral/sandal/core/_reset.scss */
h1 {
  font-size: 18px;
}

/* line 397, ../bower_components/sheral/sandal/core/_reset.scss */
h2 {
  font-size: 16px;
}

/* line 401, ../bower_components/sheral/sandal/core/_reset.scss */
h3 {
  font-size: 14px;
}

/* line 406, ../bower_components/sheral/sandal/core/_reset.scss */
i {
  font-style: normal;
}

/* line 411, ../bower_components/sheral/sandal/core/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../bower_components/sheral/sandal/ext/_helper.scss */
.fl {
  float: left;
}

/* line 11, ../bower_components/sheral/sandal/ext/_helper.scss */
.fr {
  float: right;
}

/* line 14, ../bower_components/sheral/sandal/ext/_helper.scss */
.fs12 {
  font-size: 12px;
}

/* line 17, ../bower_components/sheral/sandal/ext/_helper.scss */
.grayc {
  color: #ccc;
}

/* line 20, ../bower_components/sheral/sandal/ext/_helper.scss */
.gray9 {
  color: #999;
}

/* line 23, ../bower_components/sheral/sandal/ext/_helper.scss */
.gray6 {
  color: #666;
}

/* line 26, ../bower_components/sheral/sandal/ext/_helper.scss */
.p10 {
  padding: 10px;
}

/* line 29, ../bower_components/sheral/sandal/ext/_helper.scss */
.plr10 {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 33, ../bower_components/sheral/sandal/ext/_helper.scss */
.mt10 {
  margin-top: 10px;
}

/* line 36, ../bower_components/sheral/sandal/ext/_helper.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 39, ../bower_components/sheral/sandal/ext/_helper.scss */
.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 50, ../bower_components/sheral/sandal/ext/_helper.scss */
.full-width {
  width: 100%;
}

/* line 53, ../bower_components/sheral/sandal/ext/_helper.scss */
.pos-s {
  position: static !important;
}

/* line 56, ../bower_components/sheral/sandal/ext/_helper.scss */
.fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 10, ../sass/sheral.scss */
.guide-title {
  margin: 10px 0 0 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
}

/* line 17, ../sass/sheral.scss */
.site-slogan {
  line-height: 2;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

/* line 23, ../sass/sheral.scss */
.site-source {
  text-align: center;
  margin-bottom: 20px;
}
/* line 27, ../sass/sheral.scss */
.site-source .link {
  color: #007aff;
}

/* line 16, ../bower_components/sheral/components/_btn.scss */
.btn {
  padding: 0 1em;
  line-height: 42px;
  border-radius: 3px;
  color: #333;
  background-color: #f5f5f5;
  border-color: rgba(0, 0, 0, 0.2);
}
/* line 648, ../bower_components/sheral/sandal/core/_mixin.scss */
.btn:hover, .btn:active {
  background-color: #e8e8e8;
}

/* line 22, ../bower_components/sheral/components/_btn.scss */
.btn-outline {
  padding: 0 1em;
  line-height: 42px;
  border-radius: 3px;
  color: #007aff;
  background-color: #fff;
  border-color: #007aff;
}
/* line 648, ../bower_components/sheral/sandal/core/_mixin.scss */
.btn-outline:hover, .btn-outline:active {
  background-color: #f2f2f2;
  border-color: #147de2;
}

/* line 27, ../bower_components/sheral/components/_btn.scss */
.btn-primary {
  padding: 0 1em;
  line-height: 42px;
  border-radius: 3px;
  color: #fff;
  background-color: #007aff;
}
/* line 648, ../bower_components/sheral/sandal/core/_mixin.scss */
.btn-primary:hover, .btn-primary:active {
  background-color: #006ee6;
}

/* line 33, ../bower_components/sheral/components/_btn.scss */
.btn-stress {
  padding: 0 1em;
  line-height: 42px;
  border-radius: 3px;
  color: #fff;
  background-color: #ff9500;
}
/* line 648, ../bower_components/sheral/sandal/core/_mixin.scss */
.btn-stress:hover, .btn-stress:active {
  background-color: #e68600;
}

/* line 38, ../bower_components/sheral/components/_btn.scss */
.full-width[class^="btn"] {
  border-radius: 0;
}

/* line 41, ../bower_components/sheral/components/_btn.scss */
.disabled[class^="btn"] {
  background-color: #e3e3e3 !important;
  color: #fff !important;
  cursor: default !important;
  pointer-events: none;
}

/* line 50, ../bower_components/sheral/components/_btn.scss */
.btn-s {
  line-height: 28px;
  font-size: 12px;
}

/* line 54, ../bower_components/sheral/components/_btn.scss */
.btn-m {
  line-height: 42px;
}

/* line 59, ../bower_components/sheral/components/_btn.scss */
.actions {
  display: table;
  table-layout: fixed;
  width: 100%;
}
/* line 302, ../bower_components/sheral/sandal/core/_mixin.scss */
.actions actions-btn {
  display: table-cell;
}
/* line 61, ../bower_components/sheral/components/_btn.scss */
.actions .actions-btn {
  color: #007aff;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box;
}
/* line 71, ../bower_components/sheral/components/_btn.scss */
.actions .actions-btn:first-of-type {
  border-left: none;
}
/* line 74, ../bower_components/sheral/components/_btn.scss */
.actions .actions-btn:active, .actions .actions-btn:hover {
  background: #e6e6e6;
}

/* line 81, ../bower_components/sheral/components/_btn.scss */
.actions--full {
  display: block;
}
/* line 83, ../bower_components/sheral/components/_btn.scss */
.actions--full .actions-btn {
  display: block;
  width: 100%;
  border-left: none;
}

/* line 7, ../bower_components/sheral/components/_overlay.scss */
.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4000;
}
/* line 12, ../bower_components/sheral/components/_overlay.scss */
.active .overlay, .overlay.active {
  display: block;
}
/* line 17, ../bower_components/sheral/components/_overlay.scss */
.overlay.overlay--no-header {
  top: 44px;
}
/* line 21, ../bower_components/sheral/components/_overlay.scss */
.overlay.overlay--transparent {
  background: transparent;
}

/* line 7, ../bower_components/sheral/components/_toast.scss */
.toast-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4000;
  display: none;
  flex-direction: column;
}
/* line 14, ../bower_components/sheral/components/_toast.scss */
.toast-wrap.active {
  display: flex;
}

/* line 18, ../bower_components/sheral/components/_toast.scss */
.toast {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  white-space: nowrap;
  z-index: 4005;
  border-radius: 5px;
  position: relative;
}
/* line 29, ../bower_components/sheral/components/_toast.scss */
.toast .toast-icon {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* line 35, ../bower_components/sheral/components/_toast.scss */
.toast--loading {
  border-radius: 10px;
}
/* line 38, ../bower_components/sheral/components/_toast.scss */
.toast--loading .icon-loading {
  fill: #fff;
  width: 28px;
  height: 28px;
  display: block;
  margin: 0 auto;
}
/* line 47, ../bower_components/sheral/components/_toast.scss */
.toast--loading.has-close {
  padding: 15px;
  width: 100px;
}
/* line 50, ../bower_components/sheral/components/_toast.scss */
.toast--loading.has-close .icon-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 20px;
}
/* line 59, ../bower_components/sheral/components/_toast.scss */
.toast--loading.has-close .toast-text {
  margin-top: 10px;
}

/* line 6, ../bower_components/sheral/components/_dialog.scss */
.dialog-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4000;
  display: none;
  flex-direction: column;
}
/* line 13, ../bower_components/sheral/components/_dialog.scss */
.dialog-wrap.active {
  display: flex;
}

/* line 18, ../bower_components/sheral/components/_dialog.scss */
.dialog {
  position: relative;
  width: 280px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 4005;
}
/* line 25, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-bd {
  padding: 20px 10px;
  text-align: center;
}
/* line 28, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-bd .bd-tt {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
}
/* line 35, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-bd .bd-txt.txt--left {
  text-align: left;
}
/* line 40, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft {
  overflow: hidden;
  text-align: center;
  line-height: 44px;
  display: flex;
}
/* line 312, ../bower_components/sheral/sandal/core/_mixin.scss */
.dialog .dialog-ft .ft-btn {
  flex: 1;
  width: 1%;
}
/* line 45, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft button {
  line-height: normal;
  height: 44px;
  border: none;
  background: transparent;
}
/* line 51, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft .ft-btn {
  position: relative;
}
/* line 53, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft .ft-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
}
/* line 58, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft .ft-btn:nth-of-type(1)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 0;
  bottom: 0;
  transform: scaleX(0.5);
  border-left: 1px solid #dbdbdb;
  left: auto;
  right: 0;
}
/* line 64, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft .ft-btn:first-of-type {
  border-bottom-left-radius: 5px;
}
/* line 67, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft .ft-btn:last-of-type {
  border-bottom-right-radius: 5px;
}
/* line 70, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft .ft-btn:hover, .dialog .dialog-ft .ft-btn:active {
  background: #f5f5f5;
}
/* line 76, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft.ft--full {
  flex-direction: column;
}
/* line 78, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft.ft--full .ft-btn {
  width: 100%;
  border-left: none;
}
/* line 82, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft.ft--full .ft-btn:first-of-type::after {
  display: none;
}
/* line 87, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft.ft--full .ft-btn:first-of-type {
  border-bottom-left-radius: 0;
}
/* line 90, ../bower_components/sheral/components/_dialog.scss */
.dialog .dialog-ft.ft--full .ft-btn:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
